@import url('http://fonts.googleapis.com/css?family=Lato:300,700');

body {
  background: #1c1e1f;
  color: white;
  font-family: "Lato";
}

blockquote {
  margin: 0;
  padding: 0;
}

.bucket {
  display: flex;
}

.bucket--flag {
  align-items: center;
}

.bucket-content {
  flex-grow: 1;
}

.bucket-media {
  margin-right: 1.25em;
}

.bucket-media > img {
  display: block;
}

.quote {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 500%);
  width: 600px;
}

.quote.is-active {
  animation: upAndIn 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

.quote.is-last-active {
  animation: outAndUp 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

.quote-content {
  font-size: 325%;
  margin-bottom: 0.625em;
}

.quote-media {
  border-radius: 50%;
  display: block;
}

@keyframes upAndIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 500%);
  }
  70% {
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes outAndUp {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  30% {
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -500%);
  }
}
